<div class="page-header text-center">
    <h1>{{ page.title }}{% if page.description %}<br><small>{{ page.description }}</small>{% endif %}</h1>
    <div class="inline-menu">
        <a href="https://github.com/{{ site.github_username }}" target="_blank">GitHub</a>
        <p> - </p>
        <a href="https://qchat.rizon.net/?channels=rice" target="_blank">IRC</a>
        <p> - </p>
        <a href="/ref">Ricing Resources</a>
        <p> - </p>
        <a href="/guidelines">Community Guidelines</a>
    </div>
</div>
