.anchorjs-link {
    color: inherit !important;
    text-decoration: none !important;
}

@media (max-width: 768px) {
    .anchorjs-link {
        display: none;
    }
}

*:hover > .anchorjs-link {
    opacity: .75;
    transition: all .16s linear;
}

*:hover > .anchorjs-link:hover,
.anchorjs-link:focus {
    text-decoration: none !important;
    opacity: 1;
}
